extends index

block content
   td(class='intro')
         table
            tr
               td
                  p Hello ____,
   td(class='main-body')
      table
         tr
            td
               p You have received a new inquiry from a client about booking for an event with ____. 

               p Here is the information the client provided you:

               div(class='info-summary')
                  p Name: #{name}
                  p Email: #{email}
                  p Phone: #{phone}
                  p Event description:
                  p #{desc}